@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondBackground: #fdf1e7;
  --shadowColor: #fbe2d1;
  --hoverColor: #f0a798;
  --font: Elephant;
}
@font-face {
  font-family: 'Elephant';
  src: url('fonts/ELEPHNT.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--hoverColor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


